body {
    font-size: 20px;
    text-align: center;
}

table {
    width: 100%;
}

table, td {
    border: none;
}

.table_left {
    text-align: left;
}

.table_right {
    text-align: right;
}

li {
    display: inline;
    padding: 20px;
}

#output {
    width: 70%;
    margin: 0 auto;
}

button {
    padding: 10px;
}